@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}

<a href="Event-Detail.html">
    @Html.Sitecore().Field("EventImage", new { @class = "img-responsive", mw = 500, mh = 333 })
</a>
<div class="caption">
    <h3 class="teaser-heading">@Html.Sitecore().Field("ContentHeading")</h3>
    <p>
        @Html.Sitecore().Field("ContentIntro")
    </p>
    <a href="Event-Detail.html" class="btn btn-default">Read more</a>
</div>

