@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}

<a href="Event-Detail.html">
    <img src="Images/Hiking-the-Italian-Alps.jpg" class="img-responsive" alt="Hiking the Italian Alps" width="500" height="333" />
</a>
<div class="caption">
    <h3 class="teaser-heading">Hiking the Italian Alps</h3>
    <p>
        Hike one of the most beautiful mountain landscapes in the world. Italy’s dramatic rocky rooftop, the Dolomites offer spectacular views and lovely surroundings, especially on this spring tour. You will enjoy the wild Alpine meadows, snow-tipped peaks and cobblestone mountain villages. We will take scenic paths from Cortina d’ Ampezzo to Alta   Badia and learn about the fascinating history of the region along the way.
    </p>
    <a href="Event-Detail.html" class="btn btn-default">Read more</a>
</div>

<a href="Event-Detail.html">
    <img src="Images/Cycling-from-Bangkok-to-Chiang-Mai.jpg" class="img-responsive" alt="Cycling Bangkok to Chiang Mai" width="500" height="333" />
</a>
<div class="caption">
    <h3 class="teaser-heading">Cycling from Bangkok to Chiang Mai</h3>
    <p>
        Discover the charm of the Thai countryside, on this ten-day cycling tour from Bangkok to Chiang Mai. Along the way, we will visit Buddhist Temples tucked into the cool and lush rainforests, ride down the Chao Phraya River on long-tailed boat and spend the Chiang Mai Elephant Conservatory. This trip an Adventure Company favorite among families.
    </p>
    <a href="Event-Detail.html" class="btn btn-default">Read more</a>
</div>

<div class="thumbnail">
    <a href="Event-Detail.html">
        <img src="Images/Rock-Climbing-in-the-Czech-Republic.jpg" class="img-responsive" alt="Rock Climbing in the Czech Republic" width="500" height="333" />
    </a>
    <div class="caption">
        <h3 class="teaser-heading">Rock Climbing in the Czech Republic</h3>
        <p>
            This two-day tour begins with a stay at the ancient Karlštejn Castle established by Roman Emperor Charles IV to store crowned jewels and holy relics. After our castle stay, we will move on to Cesky Raj, whose translates into Bohemian Paradise, the oldest nature reserve in the Czech Republic.
        </p>
        <a href="Event-Detail.html" class="btn btn-default">Read more</a>
    </div>
</div>